h2 {
    margin: 0;
}

.lista-detalles {
    list-style-type: none;
    padding: 0;
}

.lista-detalles li {
    display: flex !important;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.lista-detalles svg {
    flex-shrink: 0;
}
