h1 {
    display: none;
}

nav {
    background-color: var(--fondo-nav) !important;
}

.logo {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0%;
    transition: border-color 0.5s ease, border-radius 0.5s ease;
}

.logo:hover {
    border-color: black;
    border-radius: 15%;
}

.navbar-brand {
    transition: color 0.5s ease;
}

.navbar-brand:hover {
    color: white;
}

.nav-item * {
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 0%;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
}

.nav-item:hover * {
    color: white !important;
    background-color: var(--hover-tema);
    border-color: black;
    border-radius: 15%;
    cursor: pointer;
}

.navbar-brand, .nav-link {
    color: #ff8cff;
}

/* Estilo del Footer */
footer {
    background-color: var(--fondo-footer);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column img {
    max-width: 100%;
    height: auto;
}

.footer-column h3 {
    margin-top: 0;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 100px;
    margin: 0 auto;
    gap: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons a:hover {
    text-decoration: underline;
}

.social-icons li {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-self: flex-start;
}
