<div>
    <h2 class="titulo-ruta">COMUNIDAD GLOBAL</h2>
    <button class="boton-general btn-volver" (click)="goBack()">↽ Volver</button>
</div>

<div class="contenedor-fichas">
    @for (usuario of usuarios; track $index) {

        <!-- Comprobar que no sea el usuario iniciado, para no mostrarlo -->
        @if (usuario.email !== usuarioIniciado?.email) {
            
            <div class="ficha">
                <img [src]="usuario.profile_picture" alt="Juego de la biblioteca">
                <h2>{{ usuario.username }}</h2>
                <hr>
                <span>Juegos totales: {{ usuario.total_games }}</span>
    
                <button [routerLink]="['/perfil', usuario.email]">Ver Perfil</button>
            </div>
        }

    }
</div>
    