<section class="videojuegos">
    @for (videojuego of videojuegos; track $index) {

      <div class="videojuego">
        <img [src]="videojuego.image" alt="Juego de la biblioteca">
        <h2>{{ videojuego.title }}</h2>

        <!-- Activar los detalles del juego -->
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" 
        data-bs-target="#EditarPerfilModal" (click)="mostrarDetalles($index)">Detalles</button>

        <!-- Editar los detalles del juego -->
        <!-- <button>Editar</button> -->
      </div>
    }

    <!-- Modal Detalles Juego -->
    <div class="modal fade" id="EditarPerfilModal" tabindex="-1" aria-labelledby="PerfilModalLabel" aria-hidden="true">

        <div class="modal-dialog" modal-sm>
          <div class="modal-content">
    
            <!-- Titular -->
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="exampleModalLabel">{{ videojuegos[indiceVideojuego].title }} - Detalles</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <!-- Detalles Contenido -->
            <div class="modal-body">

                <ul class="lista-detalles">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                    </svg>
                    <span>{{ videojuegos[indiceVideojuego].status }}</span>
                  </li>

                  <hr>

                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                      <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                      <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <span>{{ videojuegos[indiceVideojuego].personal_comment }}</span>
                  </li>

                  <hr>

                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                    </svg>
                    <span>{{ videojuegos[indiceVideojuego].rating }}</span>
                  </li>
              </ul>
    
            </div>
    
            <!-- Footer -->
            <div class="modal-footer">
    
              <!-- Cerrar Botón -->
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    
            </div>
    
          </div>
    
    
        </div>
    </div>


</section>