@keyframes rgb {
    0% {background-position: 0}
    100% {background-position: 200%}
}

.message-container {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #e0b3ff, #800080);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border: 6px solid purple;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF6D1B, #FFEE55, #5BFF89, #4D8AFF, #6B5FFF, #FF64F9, #FF6565);
    background-size: 200%;
    animation: rgb 2s infinite linear;
}

.message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.separator {
    position: relative;
    width: 100%;
}

.separator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #800080;
    transform: translateY(-50%);
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    width: 10%;
    gap: 5px;
}

.user-name {
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 20px;
    padding: 2px 8px;
}

.message-img {
    width: 60px;
    height: auto;
}

.message-text {
    width: 90%;
    word-break: break-word;
    border-radius: 10px;
    padding: 15px;
    background: #f0f0f0;
}

.message-container::-webkit-scrollbar {
    width: 8px;
}

.message-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.input-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 80px;
}

#message-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #800080;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Botón enviar mensaje  */
#send-button {
    width: 20%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, color 0.5s ease;
}

#send-button:hover {
    background: #d004d0;
    color: var(--letra-color-btn);

}

#send-button:active {
    background-color: #3a005e;
}


/* Media Query */
@media (max-width: 1200px) {
    .message-container {
        width: 85%;
    }

    .user-profile {
        width: 25% !important;
    }
}

@media (max-width: 710px) {
    
    .message-container {
        width: 95%;
        padding: 15px;
    }

    .input-container {
        width: 95%;
    }

    .message-text {
        width: 80%;
    }  
}

@media (max-width: 480px) {
    .ficha {
        width: calc(100% - 40px);
    }

    .form-registro {
        width: 80%;
        padding: 20px;
    }
}
