<h2 class="titulo-ruta">FORO DE MENSAJES</h2>

<div class="message-container">
    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span class="user-name">Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>
    
    <div class="separator"></div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/gamer.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>
    
    <div class="separator"></div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/gamer_2.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="separator"></div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/female.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="separator"></div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span class="user-name">Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>

    <div class="message">
        <div class="user-profile">
            <img src="../../../assets/perfil/user.png" alt="Foto" class="message-img">
            <span>Nombre</span>
        </div>
        <div class="message-text">
            Este es un mensaje de prueba que ocupa todo el ancho del contenedor y tiene el texto alineado a la izquierda.
        </div>
    </div>
        
</div>
