<h2 class="titulo-ruta">FORO DE MENSAJES</h2>
<button class="boton-general btn-volver" (click)="goBack()">↽ Volver</button>

<div class="message-container" #messageContainer>

    @for (post of posts; track $index) {
        <div class="message">

            <div class="user-profile">
                <img [src]="post.profile_picture" alt="Foto" class="message-img">
                <span class="user-name">{{post.username}}</span>
            </div>

            <div class="message-text">
                {{post.content}}
            </div>
        </div>
        
        <div class="separator"></div>
    }
 
</div>

<div class="input-container">
    <input type="text" id="message-input" maxlength="200" placeholder="Escribe tu mensaje..." [(ngModel)]="mensaje" />
    @if (esMiembro || usuarioIniciado.isAdmin) {
        <button id="send-button" (click)="enviarMsj()">Enviar</button>
    } @else {
        <button id="send-button" class="btn-disabled" disabled>Enviar</button>
    }
</div>
