<h2>Home</h2>

<div class="logo-img">
    <img src="../../../assets/logo_gameCommunity.PNG" alt="logo de la web">
</div>

@if (!shouldShowLogin() && !shouldShowRegistro()) {

    <section class="home-info">
        <h3>¡Bienvenido a nuestra comunidad!</h3>
    
        <p>
            En esta web podrás encontrar usuarios con tus mismos gustos en videojuegos, con los cuales podrás 
            hablar mediante los fotos de las comunidades, además de tener tu biblioteca de videojuegos con 
            detalles personalizados en cada uno.
        </p>
    </section>
}

<section>
    <!-- Login -->
    @if (shouldShowLogin()) {
        <h3>Login</h3>
        <app-login></app-login>
    }

    <!-- Registro -->
    @if (shouldShowRegistro()) {
        <h3>Registro</h3>
        <app-registro></app-registro>
    }

</section>

