h2 {
    display: none;
}

h3 {
    font-size: var(--titulo-seccion);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
}

@keyframes aumentarReducir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rgb {
    0% {background-position: 0}
    100% {background-position: 200%}
}

.logo {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0%;
    transition: border-color 0.5s ease, border-radius 0.5s ease;
}

.logo-img {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    animation: aumentarReducir 4s infinite ease-in-out;
}

.logo-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    color: var(--letra-color-btn);
}

.info-join {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, var(--fondo-nav), #260036);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 150px;
}

.join-title {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: var(--letra-color-btn);
}

.join-title > span {
    font-size: var(--titulo-seccion);
    font-family: fantasy;
}

.join-title > p {
    font-size: var(--parrafo);
    line-height: 28px;
}

.join-title hr {
    width: 40%;
    border: 2px solid white;
}

.join-title img {
    width: 90%;
    animation: aumentarReducir 4s infinite ease-in-out;
}

.join-image {
    flex: 1;
}

.join-image img {
    width: 100%;
}

#join-btn {
    display: flex;
    justify-content: center;
    width: fit-content;
    position: absolute;
    border: calc(0.08 * 4rem) solid transparent;
    color: #F3F3F3;
    font-family: 'Space Grotesk';
    font-size: 3rem;
    border-radius: calc(0.7 * 4rem);
    padding: calc(0.5 * 2.5rem) calc(1 * 2.5rem);
    cursor: pointer;
    bottom: 100px;
    
    background:linear-gradient(#f700ff, #600063), linear-gradient(#f700ff 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, #FF6D1B, #FFEE55, #5BFF89, #4D8AFF, #6B5FFF, #FF64F9, #FF6565);
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: rgb 2s infinite linear;
}

#join-btn::before {
    content: '';
    background: linear-gradient(90deg, #FF6D1B, #FFEE55, #5BFF89, #4D8AFF, #6B5FFF, #FF64F9, #FF6565);
    height: 30%;
    width: 60%;
    position: absolute;
    bottom: -20%;
    z-index: -5;
    background-size: 200%;
    animation: rgb 2s infinite linear;
    filter: blur(calc(0.8 * 4rem));
}

#join-btn:hover, #join-btn:hover::before {
    animation: rgb 0.5s infinite linear;
}

.info-web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #260036;
    padding-bottom: 150px;
    background: linear-gradient(180deg, #260036, var(--fondo-nav));
    box-shadow: 0 -7px 40px 5px;
}

.info-web > h3 {
    position: relative;
    margin-bottom: 35px;
}

.info-web > h3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF6D1B, #FFEE55, #5BFF89, #4D8AFF, #6B5FFF, #FF64F9, #FF6565);
    background-size: 200%;
    animation: rgb 2s infinite linear;
}

.features-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    gap: 30px;
}

.panel-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #ee82ee, #260036) 1;
    flex: 1;
    gap: 25px;
    padding: 30px;
}

.panel-feature > svg {
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 20px;
    background-color: #b542b563;
    box-shadow: 0 5px 10px 0;
}

.panel-feature > h4 {
    font-size: var(--titulo-peque);
    font-weight: bolder;
}

.panel-feature > p {
    font-size: 1.1rem;
}


@media (max-width: 1300px) {
    
    .join-title {
        flex: 0.8rem;
        padding: 30px;
    }

    .panel-feature {
        flex: auto;
        width: 40%;
    }

}

@media (max-width: 850px) {
    
    .join-title {
        flex: auto;
    }

    .join-title > span {
        font-size: 3.5rem;
        padding-top: 25px;
    }

    #join-btn {
        bottom: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 640px) {
    
    .panel-feature {
        width: 100%;
    }

}

@media (max-width: 545px) {
    
    .info-join {
        padding-left: 20px;
        padding-right: 20px;
    }

    .join-title > span {
        font-size: 2.3rem;
    }

    .join-title > p {
        font-size: 1.15rem;
    }

    .join-title > img {
        width: 100%;
    }

    .footer-container {
        gap: 30px;
    }

}
