<h2>Home</h2>

<div class="logo-img">
    <img src="../../../assets/logo_gameCommunity.PNG" alt="logo de la web">
</div>

@if (!shouldShowLogin() && !shouldShowRegistro()) {

    <section class="home-info">

        <img src="../../../assets/manuscrito.png" alt="fondo manuscrito">

        <div class="info-content">
            <h3>¡Bienvenido/a a nuestra comunidad!</h3>
            
            <p>
                En esta web podrás encontrar usuarios con tus mismos gustos en videojuegos, con los cuales podrás 
                hablar mediante los foros de las comunidades, además de tener tu biblioteca de videojuegos con 
                detalles personalizados en cada uno.
            </p>

            <p>Entre las cosas que podrás hacer en la web está:</p>
            <ul>
                <li>¡Tener tu propia biblioteca de videojuegos!</li>
                <li>¡Tener un perfil personalizable!</li>
                <li>¡Crear comunidades y unirte a otras!</li>
                <li>¡Comentar en foros de comunidades junto a más usuarios!</li>
            </ul>

        </div>
        
        <!-- Boton para ir al registro -->
        <button (click)="toggleRegistro()" id="join-btn">Únete</button>
    </section>
}

<div>
    <!-- Login -->
    @if (shouldShowLogin()) {
        <app-login></app-login>
    }

    <!-- Registro -->
    @if (shouldShowRegistro()) {
        <app-registro></app-registro>
    }

</div>

