<h1>Game Community</h1>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="logo" src="../assets/img_logo_2.PNG" alt="logo de la web" routerLink="/home">
        <a class="navbar-brand" routerLink="/home">Game Community</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="shouldShowThis('home')">
                    <a class="nav-link" (click)="toggleLogin()">Login</a>
                </li>
                <li class="nav-item" *ngIf="shouldShowThis('home')">
                    <a class="nav-link" (click)="toggleRegistro()">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/comunidades">Comunidades</a>
                </li>
                <li class="nav-item" *ngIf="shouldShowThis('biblioteca')">
                    <a class="nav-link" routerLink="/biblioteca">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/videojuegos">Videojuegos</a>
                </li>
                <li class="nav-item dropdown" *ngIf="shouldShowThis('perfil')">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Perfil
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/perfil">Mi Perfil</a></li>
                      <li><a class="dropdown-item" (click)="cerrarSesion()" routerLink="">Cerrar sesión</a></li>
                    </ul>
                </li>
          
            </ul>
        </div>
    </div>
</nav>

<router-outlet />
