<h2 class="titulo-ruta">COMUNIDADES</h2>

<section class="contenedor-fichas">
            
    <!-- Comunidad Global -->
    <div class="ficha">
        <img src="../../../assets/community_global.jpg" alt="Comunidad global">
        <h2>Comunidad Global</h2>

        <button type="button" routerLink="/comunidades/global">
            Entrar
        </button>

    </div>
    
    <!-- Comunidades Personalizadas -->
    <div class="ficha">
        <img src="../../../assets/community_pers_6.jpeg" alt="Comunidades personalizadas">
        <h2>Comunidades Personalizadas</h2>

        <button type="button" routerLink="/comunidades/personalizadas">
            Entrar
        </button>

    </div>


</section>
