.form-registro {
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: purple;
    border-radius: 20px;
}

.form-registro .boton-general {
    margin-top: 35px;
}

/* Media query para móviles */
@media (width <= 412px) {
    .form-registro {
        width: 80%;
        padding: 20px;
    }

}