<section [@fadeInOut] class="form-general">
    <h2 class="titulo-mediano">Registro</h2>
    <hr>
    <form [formGroup]="formularioRegistro" (ngSubmit)="enviar($event)">
        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label titulo-label">Email</label>
            <input [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email') }"
                type="email" class="form-control" id="email" formControlName="email">
        
            <div class="msj-validadores" *ngIf="hasErrors('email', 'email') || hasErrors('email', 'emailInvalido')  && !hasErrors('email', 'required')">
                Email inválido.
            </div>
        
            <div class="msj-validadores" *ngIf="hasErrors('email', 'required')">
                Email obligatorio.
            </div>
        </div>
        
        
        <!-- Nombre -->
        <div class="mb-3">
            <label for="nombre" class="form-label titulo-label">Nombre</label>
            <input [ngClass]="{'is-invalid': hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength') }"
                type="text" class="form-control" id="nombre" formControlName="nombre">

            <div class="msj-validadores" *ngIf="hasErrors('nombre', 'required')">
                Nombre obligatorio.
            </div>

            <div class="msj-validadores" *ngIf="hasErrors('nombre', 'minlength')">
                El nombre debe ser de mínimo 4 caracteres.
            </div>

            <div class="msj-validadores" *ngIf="hasErrors('nombre', 'maxlength')">
                El nombre debe ser de máximo 12 caracteres.
            </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
            <label for="password" class="form-label titulo-label">Contraseña</label>
            <input [ngClass]="{'is-invalid': hasErrors('password', 'required') || hasErrors('password', 'minlength') }"
                type="password" class="form-control" id="password" formControlName="password">

            <div class="msj-validadores" *ngIf="hasErrors('password', 'required')">
                Contraseña obligatoria.
            </div>

            <div class="msj-validadores" *ngIf="hasErrors('password', 'minlength')">
                La contraseña debe ser de mínimo 8 caracteres.
            </div>
        </div>

        <!-- Mensaje de error (usuario existente en la BD) -->
        <div class="msj-error" *ngIf="msjUsuarioExiste()">
            El usuario ya existe
        </div>

        <!-- Mensaje de exito (usuario existente en la BD) -->
        <div class="msj-exito" *ngIf="msjUsuarioRegistrado()">
            ¡Usuario registrado con éxito!
        </div>

        <!-- Registrarse -->
        <button type="submit" class="boton-general">Registrarse</button>

    </form>

    <!-- Botón ir al login -->
    <span class="form-redirection">¿Ya tienes una cuenta? 
        <span style="text-decoration: underline; font-weight: bolder; cursor: pointer;" (click)="toggleLogin()">Inicia sesión</span>
    </span>

    <!-- Volver al inicio -->
    <button (click)="toggleRegistro()" class="eliminarBtn">X</button>
</section>