/* You can add global styles to this file, and also import other style files */
:root {
    --letra-boton: 1.2rem;
    --parrafo: 1.4rem;
    --titulo-peque: 1.5rem;
    --titulo-mediano: 2.5rem;
    --titulo-grande: 3rem;
    --fondo-tema: #d004d0;
    --hover-tema: #5d015d;
    --fondo-nav: #8f008f;
    --fondo-footer: #8306B1;
    --letra-color-btn: #ff8cff;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../src/assets/portada_tfc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
}

/* Botones */
.boton-general {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    background: #d004d0;
    color: var(--letra-color-btn);
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: var(--letra-boton);
    padding: 10px;
}

.boton-general:hover {
    background-color: var(--hover-tema);
    color: white !important;
}

.boton-salir {
    background-color: #1b2838;
    color: white;
}

.boton-salir:hover {
    background-color: white;
    color: black !important;
}

.boton-eliminar {
    background-color: red;
    color: white;
}

.boton-eliminar:hover {
    background-color: rgb(100, 0, 0);
    color: white;
}

.btn-modal {
    border: 2px solid #7a3cff !important;
    color: #7a3cff !important;
}

.btn-modal:hover {
    border-color: transparent !important;
    background-color: #7a3cff !important;
    color: white !important;
}

.btn-close {
    filter: invert();
}

.btn-volver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

/* Header modal */
.modal-header {
    background-color: #a65cff !important;
    color: white !important;
}

/* Texto */

.titulo-label {
    font-weight: bolder;
    font-size: var(--titulo-peque);
    color: var(--letra-color-btn);
    padding-bottom: 10px;
    padding-top: 20px;
}

.titulo-mediano {
    font-weight: bolder;
    font-size: var(--titulo-mediano) !important;
    color: var(--letra-color-btn);
    padding-bottom: 20px;
}

.titulo-ruta {
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: var(--titulo-mediano) !important;
    color: var(--letra-color-btn);
    padding-top: 40px;
}

.titulo-ruta::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--fondo-tema);
}

/* Fichas de videojuego */
.contenedor-fichas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ficha {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #1b2838;
    width: calc(25% - 40px);
    max-width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.ficha:hover {
    transform: translateY(-20px);
}

.ficha:hover .eliminarBtn {
    opacity: 1;
}

.ficha img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.ficha h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.ficha span {
    color: white;
    padding-bottom: 10px;
}

.ficha hr {
    height: 2px;
    background-color: white;
    width: 100%;
}

.ficha button {
    background-color: #ff36e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.ficha button:hover {
    background-color: #af0e9d;
    color: white;
}

/* Boton eliminar juego de Biblioteca */
.eliminarBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px !important;
    border-bottom-right-radius: 0 !important;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.8s ease !important;
    padding: 10px !important;
}

.eliminarBtn:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-color: #ff0000;
}

.msj-validadores {
    text-align: center;
    background: red;
    color: white !important;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.msj-error {
    text-align: center;
    background: red;
    color: white !important;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px;
}

.msj-exito {
    text-align: center;
    background: rgb(22, 120, 0);
    color: white !important;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px;
}

/* Placeholder */
.placeholderStyle {
    color: gray;
    font-style: italic;
}

/* Formulario */
.form-general {
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: purple;
    border-radius: 20px;
    word-break: break-all;
}

.form-general .boton-general {
    margin-top: 35px;
}

.mat-mdc-tab-labels {
    --mdc-tab-indicator-active-indicator-color: #9900d0 !important;
    --mat-tab-header-active-label-text-color: #ff4beb !important;
    --mat-tab-header-active-focus-indicator-color: #9900d0 !important;
    --mat-tab-header-active-focus-label-text-color: #ff4beb !important;
}


/* Media Query */
@media (max-width: 1200px) {
    .ficha {
        width: calc(33.33% - 40px);
    }
}

@media (max-width: 768px) {
    .ficha {
        width: calc(50% - 40px);
    }

    .form-general {
        width: 90%;
        padding: 20px;
        margin-top: 30px;
    }

    .titulo-mediano {
        font-size: 2rem !important;
    }

    
}

@media (max-width: 480px) {
    .ficha {
        width: calc(100% - 40px);
    }

    .form-registro {
        width: 80%;
        padding: 20px;
    }
}
