/* You can add global styles to this file, and also import other style files */
:root {
    --letra-boton: 1.2rem;
    --parrafo: 1.4rem;
    --titulo-peque: 1.5rem;
    --titulo-mediano: 2.5rem;
    --titulo-grande: 3rem;
    --fondo-tema: #d004d0;
    --hover-tema: #5d015d;
    --letra-color-btn: #ff8cff;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../src/assets/portada_tfc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Botones */

.boton-general {
    border: 1px solid black;
    border-radius: 10px;
    background: #d004d0;
    color: var(--letra-color-btn);
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: var(--letra-boton);
    padding: 10px;
}

.boton-general:hover {
    background-color: var(--hover-tema);
    color: white !important;
}

.btn-modal {
    border: 2px solid #7a3cff !important;
    color: #7a3cff !important;
}

.btn-modal:hover {
    border-color: transparent !important;
    background-color: #7a3cff !important;
    color: white !important;
}

.btn-close {
    filter: invert();
}

.modal-header {
    background-color: #a65cff !important;
    color: white !important;
}

/* Texto */

.titulo-label {
    font-weight: bolder;
    font-size: var(--titulo-peque);
    color: var(--letra-color-btn);
    padding-bottom: 10px;
    padding-top: 20px;
}

.titulo-mediano {
    font-weight: bolder;
    font-size: var(--titulo-mediano) !important;
    color: var(--letra-color-btn);
    padding-bottom: 20px;
}

.titulo-ruta {
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: var(--titulo-mediano) !important;
    color: var(--letra-color-btn);
    padding-top: 40px;
}

.titulo-ruta::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--fondo-tema);
}

/* Estilo de la barra de navegación*/
.nav-item * {
    font-size: var(--titulo-peque);
    border: 1px solid transparent;
    border-radius: 0%;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease, border-radius 0.5s ease;
}

.nav-item:hover * {
    color: white !important;
    background-color: var(--hover-tema);
    border-color: black;
    border-radius: 15%;
    cursor: pointer;
}

/* Fichas de videojuego */
.contenedor-fichas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ficha {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #1b2838;
    width: calc(25% - 40px);
    max-width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.ficha:hover {
    transform: translateY(-20px);
}

.ficha:hover .eliminarBtn {
    opacity: 1;
}

.ficha img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.ficha h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.ficha button {
    background-color: #ff36e8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.ficha button:hover {
    background-color: #af0e9d;
    color: white;
}

@media (max-width: 1200px) {
    .ficha {
        width: calc(33.33% - 40px);
    }
}

@media (max-width: 768px) {
    .ficha {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .ficha {
        width: calc(100% - 40px);
    }
}

/* Boton eliminar juego de Biblioteca */
.eliminarBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px !important;
    border-bottom-right-radius: 0 !important;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.8s ease !important;
    padding: 10px !important;
}

.eliminarBtn:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-color: #ff0000;
}

.btn-volver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

/* Placeholder */
.placeholderStyle {
    color: gray;
    font-style: italic;
}
