/* Ficha para usuario */
.ficha img {
    object-fit: scale-down;
}

.ficha h2 {
    padding: 0;
}

.ficha-btns {
    display: flex;
    width: 100% !important;
}

.ficha hr {
    margin: 0;
}

.email {
    padding: 10px;
}

.btn-admin {
    background-color: #2d8e00;
}

.btn-admin:hover {
    background-color: #1e6000;
}

.btn-noAdmin {
    background-color: #900;
}

.btn-noAdmin:hover {
    background-color: #6a0000;
}

.editar-btn {
    background: #c701ff;
}

.editar-btn:hover {
    background: #640080;
}


/* Ficha para comunidad */
.comunidad {
    height: 450px;
}

.comunidad img {
    padding: 0;

}

.comunidad hr {
    margin: 0;
}

.comunidad span {
    word-wrap: anywhere;
    padding: 10px;
}

.comunidad img {
    object-fit: cover;
    max-height: none;
}

.comunidad h2 {
    word-wrap: anywhere;
    padding: 0;
}

