<mat-tab-group>
    <mat-tab label="USUARIOS">
        <ng-template matTabContent>
            
            <div class="contenedor-fichas">
                @for (usuario of usuarios; track $index) {
            
                    <!-- Comprobar que no sea el usuario iniciado ni el administrador, para no mostrarlo -->
                    @if (usuario.email !== usuarioIniciado.email && usuario.email !== 'admin@gmail.com') {

                        <div class="ficha">
                            <img [src]="usuario.profile_picture" alt="Juego de la biblioteca">
                            <h2>{{ usuario.username }}</h2>

                            @if (usuario.isAdmin) {
                                <span> Administrador </span>
                            } @else {
                                <span> Usuario </span>
                            }

                            <hr>
                            <span class="email"> {{ usuario.email }} </span>

                            <!-- Botón de eliminar -->
                            <button class="eliminarBtn" (click)="eliminarUsuario(usuario.email, $index)">X</button>

                 
                            <!-- Acciones -->
                            <div class="ficha-btns">

                                @if (usuarioIniciado.email === 'admin@gmail.com' && !usuario.isAdmin) {
                                    <button class="btn-admin" (click)="hacerAdministrador(usuario.email, $index)">
                                        Hacer Administrador
                                    </button>

                                } @else if (usuarioIniciado.email === 'admin@gmail.com' && usuario.isAdmin) {
                                    <button class="btn-noAdmin" (click)="quitarAdministrador(usuario.email, $index)">
                                        Quitar Administrador
                                    </button>
                                }

                                <button (click)="navegarAlPerfil(usuario.email)">Editar perfil</button>
                            </div>
                        </div>
                    }
                }
            </div>

        </ng-template>
    </mat-tab>

    <mat-tab label="COMUNIDADES">
        <ng-template matTabContent>
            
            <div class="contenedor-fichas">
                @for (comunidad of comunidades; track $index) {
            
                    <div class="ficha comunidad">
                        <img [src]="comunidad.image" alt="Juego de la biblioteca">
                        <h2>{{ comunidad.title }}</h2>
                        <hr>

                        <!-- Botón de eliminar -->
                        <button class="eliminarBtn" (click)="eliminarComunidad(comunidad.community_id, $index)">X</button>

        
                        <span>{{ comunidad.description | truncate:85 }}</span>
            
                        <!-- Acciones -->
                        <div class="ficha-btns">

                            <button class="editar-btn" [routerLink]="['/comunidades/editar', comunidad.community_id]">
                                Editar
                            </button>
                            <button [routerLink]="['/comunidades/personalizada/', comunidad.community_id]">
                                Ver Comunidad
                            </button>

                        </div>

                    </div>
                }
            </div>

        </ng-template>
    </mat-tab>

    <mat-tab label="CREAR VIDEOJUEGO">
        <ng-template matTabContent>
            
            <section class="form-general">
                <h2 class="titulo-mediano"> VIDEOJUEGO </h2>
                <hr>
                <form [formGroup]="formularioVideojuego" (ngSubmit)="crearVideojuego()">
            
                    <!-- Titulo -->
                    <div class="mb-3">
                        <label for="titulo" class="form-label titulo-label">Nombre</label>
                        <input type="text" class="form-control" id="titulo" formControlName="titulo" maxlength="20">
            
                        <div class="msj-validadores" *ngIf="hasErrors('titulo', 'minlength')">
                            El titulo debe ser de mínimo 2 caracteres.
                        </div>
                    </div>
                    
                    <!-- Imagen -->
                    <div class="mb-3">
                        <label for="foto-juego" class="form-label titulo-label">Foto</label>
                        <input class="form-control" type="file" id="foto-juego" (change)="onFileChange($event)">
                    </div>
                    
                    <!-- Mensaje de éxito -->
                    <div class="msj-exito" *ngIf="videojuegoCreado">
                        ¡Videojuego creado con éxito!
                    </div>

                    <!-- Mensaje de éxito -->
                    <div class="msj-error" *ngIf="videojuegoExiste">
                        ¡El videojuego ya existe!
                    </div>
            
                    <!-- Crear Videojuego -->
                    <button type="submit" class="boton-general">Crear</button>
                </form>
            </section>

        </ng-template>
    </mat-tab>

</mat-tab-group>
