@if (!verComunidad) {

    <div>
        <h2 class="titulo-ruta">COMUNIDADES PERSONALIZADAS</h2>
        <button class="boton-general btn-volver" (click)="goBack()">↽ Volver</button>

        @if (usuarioIniciado) {
            <button style="margin: 0 auto;" class="boton-general btn-volver" routerLink="/comunidades/crear">+ Crear</button>
        }
    </div>

    <div class="contenedor-fichas">
        @for (comunidad of comunidades; track $index) {
    
            <div class="ficha comunidad">
                <img [src]="comunidad.image" alt="Juego de la biblioteca">
                <h2>{{ comunidad.title }}</h2>
                <hr>

                <!-- Descripcion -->
                @if (comunidad.description === '') {
                    <!-- Hueco en blanco -->
                    <span> &nbsp; </span>
                } @else {
                    <span>{{ comunidad.description | truncate:85 }}</span>
                }
    
                @if (usuarioIniciado) {

                    <button [routerLink]="['/comunidades/personalizada/', comunidad.community_id]">
                        Ver Comunidad
                    </button>

                } @else {
                    <button class="btn-disabled" disabled>
                        Ver Comunidad
                    </button>
                }
                
            </div>
        }
    </div>


} @else {
    
    <div>
        <h2 class="titulo-ruta">{{ comunidadActiva?.title }} 

            <div class="botones-lados">
                <button class="boton-general btn-volver" (click)="goBack()">↽ Volver</button>
                <button class="boton-general btn-volver" [routerLink]="['/comunidades/personalizada', comunidadActiva?.community_id, 'foro' ]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                      </svg>
                </button>
            </div>

            <span class="subtitulo-descripcion">{{ comunidadActiva?.description }}</span> 
        </h2>
        <p class="texto-miembros">Nº Miembros: {{ usuariosComunidad.length }}</p>

        <!-- Botones -->
        <div class="botones-comunidad">
            @if (esMiembro && !usuarioCreador) {
                <button class="boton-general boton-salir" (click)="salirseComunidad()">Salir</button>
            } @else if (!esMiembro) {
                <button class="boton-general" (click)="unirseComunidad()">Unirse</button>
            }
            @if (usuarioCreador || usuarioIniciado.isAdmin) {
                <button class="boton-general boton-volver" [routerLink]="['/comunidades/editar', comunidadActiva?.community_id]" >Editar</button>
                <button class="boton-general boton-eliminar" (click)="eliminarComunidad()" >Eliminar</button>
            }
        </div>
    </div>
    
    <!-- Usuarios -->
    <div class="contenedor-fichas">
        @for (usuario of usuariosComunidad; track $index) {
       
            <div class="ficha usuario">
                <img [src]="usuario.profile_picture" alt="Juego de la biblioteca">
                <h2>{{ usuario.username }}</h2>

                <!-- Comprobar rol del usuario en la comunidad -->
                @if (usuario.isCreator) {
                    <span>Creador</span>
                } @else if (usuario.isAdmin) {
                    <span> Administrador </span>
                } @else {
                    <span> Usuario </span>
                }

                <hr>
                <span>Juegos totales: {{ usuario.total_games }}</span>
    
                <button [routerLink]="['/perfil', usuario.user_email]">Ver Perfil</button>
            </div>
        }
    </div>    

}
