h2 {
    margin: 0;
}

.ficha {
    height: 450px;
}

.ficha img {
    padding: 0;

}

.ficha hr {
    margin: 0;
}

.ficha span {
    word-wrap: anywhere;
    padding: 10px;
}

.ficha img {
    object-fit: cover;
}

.ficha h2 {
    word-wrap: anywhere;
    padding: 0;
}

/* Ficha para usuario */
.usuario {
    height: 300px;
}

.usuario img {
    object-fit: scale-down;
}

.subtitulo-descripcion {
    display: block;
    font-size: 20px;
    padding: 20px;
    color: white;
    word-wrap: break-word;
    width: max-content;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 0px;
    border-radius: 20px;
    margin-top: 25px;
    background: var(--fondo-footer);
    border: 4px solid purple;
}

.texto-miembros {
    font-weight: bolder;
    font-size: 18px;
    color: var(--letra-color-btn);
    padding-bottom: 20px;
    margin: 0 auto !important;
    display: block;
    text-align: center;
    padding-top: 25px;
}

/* Botones Comunidad */
.botones-comunidad {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.botones-lados {
    display: flex;
    justify-content: space-evenly;

}

.botones-lados button {
    margin: 0;
}

.botones-lados button:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

/* Media Query */
@media (max-width: 460px) {
    .subtitulo-descripcion {
        font-size: 15px;
        max-width: 90%;
    }

    .titulo-ruta {
        font-size: 30px !important;
    }

    .boton-general {
        padding: 7px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .subtitulo-descripcion {
        font-size: 20px;
        max-width: 80%;
    }

    .titulo-ruta {
        font-size: 25px !important;
    }

    .boton-general {
        margin-top: 20px;
    }
}
