@if (!verComunidad) {

    <div>
        <h2 class="titulo-ruta">COMUNIDADES PERSONALIZADAS</h2>
        <button class="boton-general btn-volver" routerLink="/comunidades">↽ Volver</button>
        <button style="margin: 0 auto;" class="boton-general btn-volver" routerLink="/comunidades/crear">+ Crear</button>
    </div>

    <div class="contenedor-fichas">
        @for (comunidad of comunidades; track $index) {
    
            <div class="ficha">
                <img [src]="comunidad.image" alt="Juego de la biblioteca">
                <h2>{{ comunidad.title }}</h2>
                <span>{{ comunidad.description }}</span>
    
                <button [routerLink]="['/comunidades/personalizada/', comunidad.community_id]">Ver Comunidad</button>
                
            </div>
        }
    </div>


} @else {

}

    