@if (!verComunidad) {

    <div>
        <h2 class="titulo-ruta">COMUNIDADES PERSONALIZADAS</h2>
        <button class="boton-general btn-volver" [routerLink]="['/comunidades']">↽ Volver</button>
        <button style="margin: 0 auto;" class="boton-general btn-volver" [routerLink]="['/comunidad-crear']">+ Crear</button>
    </div>

    <div class="contenedor-fichas">
        <!-- @for (comunidad of comunidades; track $index) {
    
            <div class="ficha">
                <img [src]="comunidad.profile_picture" alt="Juego de la biblioteca">
                <h2>{{ comunidad.username }}</h2>
                <span>{{ comunidad.total_games }}</span>
    
                <button [routerLink]="['/perfil', usuario.email]">Ver Perfil</button>
                
            </div>
        } -->
    </div>


} @else {

}

    