h2 {
    margin: 0;
}

.ficha {
    height: 450px;
}

.ficha img {
    padding: 0;

}

.ficha hr {
    margin: 0;
}

.ficha span {
    word-wrap: anywhere;
    padding: 10px;
}

.ficha img {
    object-fit: cover;
}

.ficha h2 {
    padding: 0;
}

/* Ficha para usuario */
.usuario {
    height: 300px;
}

.usuario img {
    object-fit: scale-down;
}
